<section class="mba-profile">
<div class="container">



<div class="row top-title">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-12 col-lg-6">
      <div class="row card-bg">
      <div class="col-xs-4 col-lg-4">
        <%= image_tag @student.image.thumb, class: "mba-profile-pic"%>
      </div>
      <div class="col-xs-8 col-lg-8 take-out-padding-lr">
        <h3 class="take-out-margin-t"><%= @student.first_name %> <%= @student.last_name %></h3>
        <a class="profile-email" href="#"><%= @student.email %></a>



      <span><% if @student.paired %>Paired with <a type="submit" href="<%= applicant_path(@student) %>"><%= @student.applicants.first.first_name %> <%= @student.applicants.first.last_name%></a><% else %> Not paired </span><% end %>



      </div>
      </div>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
      </div>



      <div class="row">

        <div class="col-xs-0 col-lg-3"></div>
        <div class="col-xs-12 col-lg-6 text-center bottom-margin">

          <table class="table table-responsive">
    <tbody>
    <tr>
      <th scope="row" class="table-head">Concentration:</th>
      <td class="table-content"><%= @student.concentration %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Industry:</th>
      <td class="table-content"><%= @student.industry %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Link to resume:</th>
      <td class="table-content"><%= @student.resume_link %></td>

    </tr>


  </tbody>
    </table>

        </div>
        <div class="col-xs-0 col-lg-3"></div>

      </div>
      <br>


      </div>

<!--

  <% if current_user.admin? %>
    <div class="row text-center">
        <a type="submit" class="btn btn-primary bottom-margin" href="<%= edit_admin_student_path(@student) %>">Edit Content</a>
      </div>
  <% end %> -->




</div>
</section>
