<section class="applicant-profile">
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-lg-4"></div>
      <div class="col-xs-10 col-lg-4 text-center">
      <h2 class="take-out-margin-t">My profile</h2>
        </div>
        <div class="col-xs-1 col-lg-4"></div>
      </div> <!-- CLOSES ROW -->

      <div class="row">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-4 col-lg-2">
        <img src="http://lorempixel.com/200/200/" class="im-profile-pic">
      </div>
      <div class="col-xs-8 col-lg-4 take-out-padding-lr">
        <h3 class="take-out-margin-t"><%= @applicant.first_name %> <%= @applicant.last_name %></h3>
        <a class="profile-email" href="#"><%= @user.email %></a>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
      </div>

<br>
<br>

      <div class="row">

        <div class="col-xs-0 col-lg-3"></div>
        <div class="col-xs-12 col-lg-6 text-center">

          <table class="table table-responsive">
    <tbody>
    <tr>
      <th scope="row" class="table-head">Phone:</th>
      <td class="table-content"><%= @applicant.phone_number %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Description:</th>
      <td class="table-content"><%= @applicant.description %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Link to resume:</th>
      <td class="table-content"><%= @applicant.resume_link %></td>

    </tr>

    <tr>
      <th scope="row" class="table-head">Fields of interest:</th>
      <td class="table-content"><%= @applicant.fields %></td>

    </tr>
  </tbody>
    </table>

        </div>
        <div class="col-xs-0 col-lg-3"></div>

      </div>
      <br>
      <br>

      </div>




    <div class="row text-center">
        <a type="submit" href="<%= edit_applicant_path(@applicant) %>">Add/edit content</a>
      </div>


    </section>