<section class="applicant-profile">


  <div class="container">



<div class="row top-title">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-12 col-lg-6">
      <div class="row card-bg">
      <div class="col-xs-4 col-lg-4">
        <%= image_tag @applicant.image.thumb, class: "im-profile-pic"%>
      </div>
      <div class="col-xs-8 col-lg-8 take-out-padding-lr">
        <h3 class="take-out-margin-t"><%= @applicant.first_name %> <%= @applicant.last_name %></h3>
        <a class="profile-email" href="#"><%= @user.email %></a>

      <span><% if @applicant.paired %>Paired with <a type="submit" href="<%= admin_student_path(@applicant.students.first) %>"><%= @applicant.students.first.first_name %> <%= @applicant.students.first.last_name%></a> <% else %> Not paired </span><% end %>




      </div>
      </div>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
      </div>








    <!--  -->

    <div class="row">

      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-12 col-lg-6 text-center">

        <table class="table table-responsive">
          <tbody>
            <tr>
              <th scope="row" class="table-head">Phone:</th>
              <td class="table-content"><%= @applicant.phone_number %></td>

            </tr>
            <tr>
              <th scope="row" class="table-head">Description:</th>
              <td class="table-content"><%= @applicant.description %></td>

            </tr>
            <tr>
              <th scope="row" class="table-head">Link to resume:</th>
              <td class="table-content"><%= link_to @applicant.resume_link, "#{@applicant.resume_link}" %></td>

            </tr>


          </tbody>
        </table>

      </div>
      <div class="col-xs-0 col-lg-3"></div>

    </div>

    <div class="row text-center">

      <% if current_user.role == "applicant" %>
      <a data-toggle="modal" data-target="#applicant-edit" class="btn btn-primary bottom-margin">Edit Content</a>

      <%end%>
    </div>
  </div>

  <!-- CONTAINER ENDS -->


  <!-- MODAL START -->

  <div class="modal fade" id="applicant-edit" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="loginLabel">Edit Profile</h4>

        </div>

        <div class="modal-body">




                <%= form_for @applicant, url: {action: "update"} do |form| %>

                <div class="upload-preview form-submit">
                  <img />
                </div>

                <div class="form-group">
                  <%= form.label :image, "Photo:" %>
                  <%= form.file_field :image , class: "form-control image no-border"%>
                </div>
                <div class="form-group">
                  <%= form.label :first_name, "First name:" %>
                  <%= form.text_field :first_name, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= form.label :last_name, "Last name:" %>
                  <%= form.text_field :last_name, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= form.label :phone_number, "Phone:" %>
                  <%= form.text_field :phone_number, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= form.label :description, "Description:" %>
                  <%= form.text_area :description, class: 'form-control', rows: '5' %>
                </div>

                <div class="form-group">
                  <%= form.label :resume_link, "Link to resume:" %>
                  <%= form.text_field :resume_link, class: 'form-control' %>
                </div>
        </div>

        <div class="modal-footer form-submit">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <% end %>

      </div>
    </div>
  </div>

  <!-- MODAL ENDS -->

</section>