<section class="job-postings-index">
  <div class="container">
     <!-- CLOSES ROW -->

<!--  -->
<div class="row top-title">
  <div class="col-xs-0 col-lg-2"></div>

  <div class="col-xs-12 col-lg-8 outer-box">
    <div class="row text-center">
        <h2>My Postings</h2>
    </div>
    <% if @jobs.count != 0 %>
    <div class="row">
 <% @jobs.each do |job| %>
          <hr>
          <%= render 'job', job: job, employer: @employer %>
          <% end %>
          <% else %>
          <div class="text-center">
          <h5>You haven't posted any jobs yet</h5>
        </div>
        <% end %>
</div>
</div>

  <div class="col-xs-0 col-lg-2"></div>
</div>




    <div class="row">
<div class="col-xs-12 text-center">
  <a data-toggle="modal" data-target="#job-new" class="btn btn-primary bottom-margin">New Job</a>
</div>
</div>
</div>

    <div class="modal fade" id="job-new" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="loginLabel">New Job</h4>

          </div>
          <div class="modal-body">


                <%= form_for @job, url: {action: "create"} do |form| %>

                  <div class="form-group">
                    <%= form.label :position, "Position:" %>
                    <%= form.text_field :position, class: 'form-control' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :job_type, "Job type:" %>
                    <%= form.text_field :job_type, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= form.label :description, "Description:" %>
                    <%= form.text_area :description, class: 'form-control', rows: '5' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :requirements, "Requirements:" %>
                    <%= form.text_area :requirements, class: 'form-control', rows: '5' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :apply_info, "To apply:" %>
                    <%= form.text_area :apply_info, class: 'form-control', rows: '5' %>
                  </div>





        </div>
        <div class="modal-footer form-submit">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <% end %>


      </div>
    </div>
  </div>
</section>