<section class="job-details">
  <div class="container">

    <div class="row">
      <div class="col-xs-1 col-lg-4"></div>
      <div class="col-xs-10 col-lg-4 text-center">
        <h2 class="take-out-margin-t">Job details</h2>
      </div>
      <div class="col-xs-1 col-lg-4"></div>
    </div> <!-- CLOSES ROW -->

    <div class="row">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-4 col-lg-2">
        <img class="comp-logo" src="http://lorempixel.com/400/400/">
      </div>
      <div class="col-xs-8 col-lg-4 take-out-padding-lr">
        <h3 class="take-out-margin-t"><%= @employer.name %></h3>
        <p class="comp-description hidden-xs hidden-sm visible-md visible-lg"><%= @employer.description %></p>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
    </div>


<br>

<div class="row text-center">
  <h3 class="job-position"><%= @job.position %></h3>
</div>

<br>


    <div class="row">
      <div class="col-xs-1 col-lg-3"></div>
      <div class="col-xs-10 col-lg-6 text-center">





<table class="table table-responsive">
    <tbody>
    <tr>
      <th scope="row" class="table-head">Job type:</th>
      <td class="table-content"><%= @job.job_type %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Description:</th>
      <td class="table-content"><%= @job.description %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Requirements:</th>
      <td class="table-content"><%= @job.requirements %></td>

    </tr>



    <tr>
      <th scope="row" class="table-head">To apply:</th>
      <td class="table-content"><%= @job.apply_info %></td>

    </tr>
  </tbody>
    </table>




      </div>
      <div class="col-xs-1 col-lg-3"></div>
    </div>



    <div class="row text-center">

<a type="submit" href="<%= edit_employer_job_path(@employer, @job) %>">Add/edit content</a>


    </div>

  </div>
</section>