<section class="job-details">
  <div class="container">


<!--  -->

<div class="row top-title">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-12 col-lg-6">
      <div class="row card-bg">
      <div class="col-xs-4 col-lg-4">
        <%= image_tag @employer.image.thumb, class: "comp-logo" %>
      </div>
      <div class="col-xs-8 col-lg-8 take-out-padding-lr">
        <h3 class="take-out-margin-t"><%= @employer.name %></h3>
        <p class="comp-description hidden-xs hidden-sm visible-md visible-lg"><%= @employer.description %></p>

      </div>
      </div>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
      </div>





<div class="row text-center">
  <h3 class="job-position" id="bookmark">
    <%= render 'bookmark' %>
  </h3>
</div>

<div class="row text-center timeago-row">
  <span class="timeago">Posted <%= time_ago_in_words(@job.created_at) %> ago</span>
</div>



    <div class="row">
      <div class="col-xs-1 col-lg-3"></div>
      <div class="col-xs-10 col-lg-6 text-center">





<table class="table table-responsive">
    <tbody>
    <tr>
      <th scope="row" class="table-head">Job type:</th>
      <td class="table-content"><%= @job.job_type %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Description:</th>
      <td class="table-content"><%= @job.description %></td>

    </tr>
    <tr>
      <th scope="row" class="table-head">Requirements:</th>
      <td class="table-content"><%= @job.requirements %></td>

    </tr>



    <tr>
      <th scope="row" class="table-head">To apply:</th>
      <td class="table-content"><%= @job.apply_info %></td>

    </tr>
  </tbody>
    </table>




      </div>
      <div class="col-xs-1 col-lg-3"></div>
    </div>



    <div class="row text-center">
<% if current_user.employer && current_user.employer.id  == @employer.id %>
  <a data-toggle="modal" data-target="#job-edit" class="btn btn-primary bottom-margin">Edit Content</a>
<% end %>
    </div>

  </div>



      <div class="modal fade" id="job-edit" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="loginLabel">Job Edit</h4>


          </div>


          <div class="modal-body">


                <%= form_for @job, url: employer_job_path(@employer, @job), action: "update"  do |form| %>

                  <div class="form-group">
                    <%= form.label :position, "Position:" %>
                    <%= form.text_field :position, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= form.label :job_type, "Job type:" %>
                    <%= form.text_field :job_type, class: 'form-control' %>
                  </div>

                  <div class="form-group">
                    <%= form.label :description, "Description:" %>
                    <%= form.text_area :description, class: 'form-control', rows: '5' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :requirements, "Requirements:" %>
                    <%= form.text_area :requirements, class: 'form-control', rows: '5' %>
                  </div>
                  <div class="form-group">
                    <%= form.label :apply_info, "To apply:" %>
                    <%= form.text_area :apply_info, class: 'form-control', rows: '5' %>
                  </div>

        </div>
        <div class="modal-footer form-submit">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</section>