<section class="aboutus-view">

  <div class="row bottom-margin">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="top-title">About Us</h1>
      </div>
    </div>



    <div class="row">
      <div class="col-lg-12">
        <p>We, a group of MBA and undergraduate students from various disciplines, seek to help newcomers (refugees and recent migrants alike) bridge the gap between knowing where they want to work and landing their first job by addressing the individual needs of each and every member.</p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our philosophy</h2>
      </div>
    </div>


    <div class="row">

      <div class="col-lg-6">
        <div class="row">
        <h4>Peer-to-peer</h4>
        </div>
        <div class="row">
          <p>Student volunteers work side-by-side with newcomers to help them navigate the unique challenges that each newcomer faces.</p>
        </div>
        <div class="row">
          <h4>Consistency</h4>
        </div>
        <div class="row">
          <p>PreReq committees will ensure the consistency of pairing of the buddies and the quality of service throughout the program.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row">
        <h4>Sharing is caring</h4>
        </div>
        <div class="row">
          <p>We encourage Buddies and participants to share resources as much as possible. At the end of the day, we’re all on the same boat, no?</p>
        </div>
        <div class="row">
          <h4>Entrepreneurship</h4>
        </div>
        <div class="row">
          <p>We believe that the economy is missing out on a whole lot of good ideas! And with a little help, good ideas become great ideas.</p>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our business values</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <h4>Network</h4>
        </div>
        <div class="row">
          <p>As MBA students, we have an extensive network of professionals.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <h4>Quality</h4>
        </div>
        <div class="row">
          <p>We can identify key differences between working in both Canada and abroad.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <h4>Experience</h4>
        </div>
        <div class="row">
          <p>We have been through the job hunt and interview process at top firms and know what it takes.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="our-team-margin">Our team</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3>Executive committee</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-3">
        <div class="row text-center">
          <%= image_tag "fallback/justin.png", :class => "img-responsive partner-logo" %>

        </div>
        <div class="row text-center">
          <h4>Justin Park</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row text-center">
           <%= image_tag "fallback/corey.png", :class => "img-responsive partner-logo" %>
        </div>
        <div class="row text-center">
          <h4>Corey Gorski</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row text-center">
           <%= image_tag "fallback/fatuma.png", :class => "img-responsive partner-logo" %>
        </div>
        <div class="row text-center">
          <h4>Fatuma Muzungu</h4>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row text-center">
           <%= image_tag "fallback/sayandeep.png", :class => "img-responsive partner-logo" %>
        </div>
        <div class="row text-center">
          <h4>Sayandeep Basak</h4>
        </div>
      </div>
    </div>

    <div class="row">

        <div class="col-lg-3 text-center">
        <div class="row text-center">
           <%= image_tag "fallback/shaista.png", :class => "img-responsive partner-logo" %>
        </div>
        <div class="row text-center">
          <h4>Shaista Asmi</h4>
        </div>
      </div>
      </div>
    </div>




  </div>
  <div class="col-lg-1"></div>
  </div>

</section>
