
<h1>Signup!</h1>

<%= form_for :user, url: '/signup' do |f| %>
  <ul>
    <li>Email: <%= f.text_field :email %></li>
    <li>Password: <%= f.password_field :password %></li>
    <li>Password Confirmation: <%= f.password_field :password_confirmation %></li>
  </ul>
  <%= f.radio_button :role,'applicant'%>
  <%= f.label :role, 'Applicant', :value => 'applicant' %>

  <%= f.radio_button :role, 'employer' %>
  <%= f.label :role, 'Employer', :value => 'employer' %>
  <%= f.submit "Submit" %>
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>