
<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <ul>
    <li>First Name: <%= f.text_field :first_name %></li>
    <li>Last Name: <%= f.text_field :last_name %></li>
    <li>Email: <%= f.text_field :email %></li>
    <li>Password: <%= f.password_field :password %></li>
    <li>Password Confirmation: <%= f.password_field :password_confirmation %></li>
  </ul>
  <%= f.submit "Submit" %>
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>