<section class="welcome-page">
  <!-- WELCOME MSG SECTION -->




  <div class="top-bg">

    <div class="row welcome-msg">
      <div class="row text-center">


        <h1>Welcome to PreReq</h1>
        <hr>


      </div>

      <div class="row">
        <div class="col-lg-2 col-xs-1"></div>
        <div class="col-lg-8 col-xs-10 text-center">
          <p id="welcome-msg-text">We, a group of MBA and undergraduate students from various disciplines, seek to help newcomers (refugees and recent migrants alike) bridge the gap between knowing where they want to work and landing their first job by addressing the individual needs of each and every member.</p>
        </div>
        <div class="col-lg-2 col-xs-1"></div>
      </div>
    </div> <!-- closes welcome-msg section -->
    <!-- WELCOME MSG SECTION END-->

    <br>
    <% if !current_user %>
    <!-- FOR EMPLOYERS FOR IMMIGRANT BOXES SECTION -->
    <section class="container">

      <br>
      <div class="row hidden-xs hidden-sm visible-md visible-lg apps">
        <div class="col-xs-2 for-apps-sides-color"></div>
        <div class="col-xs-8 welcome-for-box">
          <div class="row">
            <div class="col-xs-3 vcenter text-center">
              <span class="for-x">For newcomers</span>
            </div>
            <div class="col-xs-6 vcenter text-center">
              <p class="for-x-msg">Hey, are you new to Montreal? recently immigrated? or a refugee? Tired of being bombarded by irrelevant/meaningless jobs. If so then join our Network where we will pair you up with an MBA student from McGill who will help you jump start your career here in Montreal</p>
            </div>
            <div class="col-xs-2 vcenter text-center">
              <a id="register-applicant" class="btn btn-primary register-btn" role="button" data-toggle="modal" data-target="#signup">Register</a>
            </div>
          </div>
        </div>
        <div class="col-xs-2 for-apps-sides-color"></div>
      </div>
      <br>
      <div class="row hidden-xs hidden-sm visible-md visible-lg">
        <div class="col-xs-2"></div>
        <div class="col-xs-8 welcome-for-box emps">
          <div class="row">
            <div class="col-xs-3 vcenter text-center">
              <span class="for-x">For employers</span>
            </div>
            <div class="col-xs-6 vcenter text-center">
              <p class="for-x-msg">Are you looking for employees that have years in experience in the field but may be new to Montreal? Join our network so that you can find talent that you may be looking for</p>
            </div>
            <div class="col-xs-2 vcenter text-center">
              <a id="register-employer" class="btn btn-primary register-btn" role="button" data-toggle="modal" data-target="#signup">Register</a>
            </div>
          </div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <!-- FOR MOBILE XS -->


      <div class="row add-5-margin-rl visible-xs hidden-md visible-sm hidden-lg">
        <div class="col-xs-12 welome-for-box">
          <div class="row">
            <!-- <div class="col-xs-1"></div> -->
            <div class="col-xs-12 text-center">
              <span>For employers</span>
            </div>
            <!-- <div class="col-xs-1"></div> -->
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <p>Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a id="register-employer" class="btn btn-primary" role="button" data-toggle="modal" data-target="#signup">Register</a>
            </div>
          </div>

        </div>

      </div>
      <br>
      <div class="row add-5-margin-rl visible-xs hidden-md visible-sm hidden-lg">
        <div class="col-xs-12 welome-for-box">
          <div class="row">
            <!-- <div class="col-xs-1"></div> -->
            <div class="col-xs-12 text-center">
              <span>For immigrants</span>
            </div>
            <!-- <div class="col-xs-1"></div> -->
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <p>Ladyship it daughter securing procured or am moreover mr. Put sir she exercise vicinity cheerful wondered.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a id="register-applicant" class="btn btn-primary" role="button" data-toggle="modal" data-target="#signup">Register</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% end %>
  </div>

  <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="loginLabel">Register</h4>


        </div>
        <%= form_for :user, url: '/signup' do |form| %>
        <div class="modal-body">


          <div class="form-group">
          <%= form.label :email, "Email:" %>
          <%= form.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :password, "Password:" %>
          <%= form.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :password_confirmation, "Confirm password:" %>
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>




          <div class="form-group">
                  <%= form.radio_button :role,'applicant', id: "radio-applicant"%>
                  <%= form.label :role, 'Applicant'%>

                  <%= form.radio_button :role, 'employer', id: "radio-employer"%>
                  <%= form.label :role, 'Employer'%>
               </div>

          <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

        </div>
        <div class="modal-footer form-submit">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- FOR EMPLOYERS FOR IMMIGRANT BOXES SECTION END -->



  <!-- READ OUR STORIES SECTION -->

  <section class="container">
    <div class="row text-center">
      <h2 class="hidden-md hidden-sm">Read our Stories</h2>

    </div>


    <% @pairs.each do |pair| %>

    <div class="row hidden-xs hidden-sm hidden-md visible-lg">
      <div class="col-xs-2"></div>

      <div class="col-xs-8 story-container">
        <%= image_tag pair.applicant.image.thumb, class: "story-im-pic"%>
        <%= image_tag pair.student.image.thumb, class: "story-mba-pic"%>



        <div class="story-box">
        </div>
        <div class="story-scroll">

          <p class="story-para"><%= pair.story %></p>

        </div>

        <div class="story-im-name">
          <p class="text-right first-name"><%= pair.applicant.first_name %></p>
          <p class="text-right last-name"><%= pair.applicant.last_name %></p>
        </div>
        <div class="story-mba-name">
          <p class="text-right first-name"><%= pair.student.first_name %></p>
          <p class="text-right last-name"><%= pair.student.last_name %></p>
        </div>

      </div>
      <div class="col-xs-2"></div>
    </div>



    <!-- MOBILE -->
    <div class="story-box-sm hidden-lg hidden-md hidden-sm visible-xs">
      <div class="row">
        <div class="col-xs-3 take-out-padding-lr">
          <p class="story-im-name-mobile text-right"><%= pair.applicant.first_name %> <%= pair.applicant.last_name %></p>
        </div>
        <div class="col-xs-3 take-out-padding-lr">
          <%= image_tag pair.applicant.image.thumb, class: "im-story-pic-mobile"%>
        </div>

        <div class="col-xs-3 take-out-padding-lr">
          <%= image_tag pair.student.image.thumb, class: "mba-story-pic-mobile"%>
        </div>
        <div class="col-xs-3 take-out-padding-lr">
          <p class="story-mba-name text-left"><%= pair.student.first_name %> <%= pair.student.first_name %></p>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 text-center">
          <p class="story-para"><%= pair.story %></p>
        </div>
        <div class="col-xs-1"></div>
      </div>
    </div>

    <% end %>

  </section>

  <!-- READ OUR STORIES SECTION END -->

  <!-- OUR PARTNERS SECTION -->

  <div class="container our-partners">

    <div class="row text-center">

        <h2 class="hidden-md hidden-sm">Our Partners</h2>

    </div>

    <div class="hidden-xs visible-lg">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          <img src="/assets/fallback/git-logo-good.png" class="img-responsive partner-logo">

        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <img src="/assets/fallback/rails-logo.png" class="img-responsive partner-logo">

        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <img src="/assets/fallback/bootstrap-logo.png" class="img-responsive partner-logo">
        </div>
        <div class="col-xs-1"></div>
      </div>

      <div class="row">
        <div class="col-xs-2 col-xs-offset-3">
          <img src="/assets/fallback/sass-logo.png" class="img-responsive partner-logo">
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <img src="/assets/fallback/scotiabank-logo.png" class="img-responsive partner-logo">
        </div>
        <div class="col-xs-3"></div>
      </div>


      <!-- row 3 -->
    <!--   <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">

        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">

        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive partner-logo">
        </div>
        <div class="col-xs-1"></div>

      </div> -->
    </div>


    <!-- FOR MOBILE XS -->
    <div class="hidden-lg visible-xs">
      <div class="row">
        <div class="col-xs-5  take-out-padding-lr">
          <img src="/assets/fallback/git-logo-good.png" class="img-responsive partner-logo">
        </div>
        <div class="col-xs-5 col-xs-offset-2 take-out-padding-lr">
          <img src="/assets/fallback/rails-logo.png" class="img-responsive partner-logo">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-5  take-out-padding-lr">
          <img src="/assets/fallback/bootstrap-logo.png" class="img-responsive partner-logo">
        </div>
        <div class="col-xs-5 col-xs-offset-2 take-out-padding-lr">
          <img src="/assets/fallback/sass-logo.png" class="img-responsive partner-logo">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-5  take-out-padding-lr">
          <img src="/assets/fallback/scotiabank-logo.png" class="img-responsive partner-logo">
        </div>
        <div class="col-xs-5 col-xs-offset-2 take-out-padding-lr">
          <img src="/assets/fallback/scotiabank-logo.png" class="img-responsive partner-logo">
        </div>
      </div>

    </div>

  </div>
  <!-- OUR PARTNERS SECTION END -->

</section>