  <section class="new-employer">
    <div class="container">
      <div class="row">
        <div class="col-xs-1 col-lg-4"></div>
        <div class="col-xs-10 col-lg-4 text-center">
          <h2 class="top-title">Create Company Profile</h2>
        </div>
        <div class="col-xs-1 col-lg-4"></div>
      </div>


      <div class="row">
        <div class="col-xs-1 col-lg-3"></div>
        <div class="col-xs-10 col-lg-6">
          <div class="row">

        <%= form_for @employer, url: {action: "create"} do |form| %>
        <div class="upload-preview">
          <img />
        </div>

        <div class="form-group">
          <%= form.label :image, "Photo:" %>
          <%= form.file_field :image , class: "form-control image"%>
        </div>
          <div class="form-group">
          <%= form.label :name, "Company name:" %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :description, "Description:" %>
          <%= form.text_area :description, class: 'form-control', rows: '5' %>
        </div>

        <%= form.submit 'Create account', class: 'btn btn-primary' %>
        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <% end %>

       </div>
    <div class="col-xs-1 col-lg-3"></div>
    </div>
    </div>
  </section>