<section class="employer-profile">
  <div class="container">
    <div class="row">
      <div class="col-xs-1 col-lg-4"></div>
      <div class="col-xs-10 col-lg-4 text-center">
      <h2 class="top-title">Company Profile</h2>
        </div>
        <div class="col-xs-1 col-lg-4"></div>
      </div> <!-- CLOSES ROW -->

      <div class="row">
      <div class="col-xs-0 col-lg-3"></div>
      <div class="col-xs-4 col-lg-2">
        <%= image_tag @employer.image.thumb, class: "comp-logo"%>
      </div>
      <div class="col-xs-8 col-lg-4 take-out-padding-lr">
        <h3 class="take-out-margin-t"><%= @employer.name %></h3>
        <a class="company-email" href="#"><%= @user.email %></a>
      </div>
      <div class="col-xs-0 col-lg-3"></div>
      </div>

<br>

      <div class="row">

        <div class="col-xs-1 col-lg-3"></div>
        <div class="col-xs-10 col-lg-6 text-center">
          <table class="table table-responsive">
    <tbody>

    <tr>
      <th scope="row" class="table-head">Description:</th>
      <td class="table-content"><%= @employer.description %></td>

    </tr>

  </tbody>
    </table>


        </div>
        <div class="col-xs-1 col-lg-3"></div>

      </div>
      <div class="row text-center">
          <a type="submit" href="<%= edit_employer_path(@employer) %>">Add/edit content</a>
          <a type="submit" href="<%= employer_jobs_path(@employer) %>">Job postings</a>
      </div>
      </div>
    </section>