<section class="admin-dashboard">
  <div class="container">

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <div class="row text-center">
          <h3>List of applicants</h3>
        </div>
        <div class="row">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>D</th>
              </tr>
            </thead>
            <tbody>
              <% @applicants.each do |app| %>
              <tr>
                <th scope="row"><%= app.id %></th>
                <td><a type="submit" href="<%= applicant_path(app) %>"><%= app.first_name %> <%= app.last_name %></a></td>
                <td>X</td>
              </tr>
              <% end %>
            </tbody>
          </table>




        </div>

      </div>
      <div class="col-xs-5">

        <div class="row text-center">
          <h3>List of MBA students</h3>
          <a data-toggle="modal" data-target="#student-new">+ New</a>
        </div>
        <div class="row">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @students.each do |mba| %>
              <tr>
                <th scope="row"><%= mba.id %></th>
                <td><a type="submit" href="<%= admin_student_path(mba) %>"><%= mba.name %></a></td>
                <td><a data-toggle="modal" data-target="#student-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><%= link_to fa_icon('trash'), admin_student_path(mba.id),data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
              </tr>


                <div class="modal fade" id="student-edit" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header ">
                      <div class="col-xs-10">
                        <h4 class="modal-title" id="loginLabel">Student Edit</h4>
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>
                    <div class="modal-body">
                    <div class="row">
                      <div class="col-xs-1 col-lg-3"></div>
                      <div class="col-xs-10 col-lg-6">
                        <div class="row">

                      <%= form_for mba, url: admin_student_path(mba.id), action: "update" do |form| %>
                        <div class="form-group">
                        <%= form.label :image, "Photo:" %>
                        <%= form.file_field :image %>
                      </div>

                      <div class="form-group">
                        <%= form.label :name, "Name:" %>
                        <%= form.text_field :name, class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= form.label :email, "Email:" %>
                        <%= form.text_field :email, class: 'form-control' %>
                      </div>
                        <div class="form-group">
                        <%= form.label :concentration, "Concentration:" %>
                        <%= form.text_field :concentration, class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= form.label :industry, "Industry:" %>
                        <%= form.text_field :industry, class: 'form-control' %>
                      </div>


                      <div class="form-group">
                        <%= form.label :resume_link, "Link to resume:" %>
                        <%= form.text_field :resume_link, class: 'form-control' %>
                      </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      <% end %>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-1"></div>
    </div>


  <div class="row">
  <div class="row text-center">
          <h3>List of pairs</h3>
        </div>
        <div class="row">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th>Applicant name</th>
      <th>Student name</th>
      <th>Story on display</th>
      <th>E</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
  <% @pairs.each do |pair| %>
    <tr>


      <td><a type="submit" href="<%= applicant_path(pair.applicant) %>"><%= pair.applicant.first_name %> <%= pair.applicant.last_name %></a></td>
      <td><a type="submit" href="<%= admin_student_path(pair.student) %>"><%= pair.student.name %></a></td>



      <td><% if pair.story_on_display %> Y <% else %> N <% end %></td>

      <td>

        <a type="submit" href="<%= edit_admin_pair_path(pair) %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </td>


      <td><%= link_to fa_icon('trash'), admin_pair_path(pair.id),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></td>

    </tr>
    <% end %>

  </tbody>
</table>
</div>

  </div>

<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4 text-center">

    <%= form_for @pair, url: {action: "create"} do |form| %>

        <div class="form-group">
          <%= form.label :applicant_id, "Applicant ID:" %>
          <%= form.text_field :applicant_id, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :student_id, "MBA Student ID:" %>
          <%= form.text_field :student_id, class: 'form-control' %>
        </div>

        <%= form.submit 'Create pair', class: 'btn btn-primary' %>

      <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

  </div>
  <div class="col-xs-4"></div>
</div>

</div>


  <div class="modal fade" id="student-new" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <div class="col-xs-10">
            <h4 class="modal-title" id="loginLabel">New Student</h4>
          </div>
          <div class="col-xs-2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
        <div class="row">
          <div class="col-xs-1 col-lg-3"></div>
          <div class="col-xs-10 col-lg-6">
            <div class="row">

          <%= form_for :student, url: "/admin/students/" do |form| %>
            <div class="form-group">
            <%= form.label :image, "Photo:" %>
            <%= form.file_field :image %>
          </div>

          <div class="form-group">
            <%= form.label :name, "Name:" %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :email, "Email:" %>
            <%= form.text_field :email, class: 'form-control' %>
          </div>
            <div class="form-group">
            <%= form.label :concentration, "Concentration:" %>
            <%= form.text_field :concentration, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :industry, "Industry:" %>
            <%= form.text_field :industry, class: 'form-control' %>
          </div>


          <div class="form-group">
            <%= form.label :resume_link, "Link to resume:" %>
            <%= form.text_field :resume_link, class: 'form-control' %>
          </div>


            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</section>

