<section class="admin-dashboard">
  <div class="container">

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-4 green-island top-margin">
      <!-- <div class="green-island"> -->
        <div class="row text-center">
          <h3>Applicants</h3>
        </div>
        <div class="row">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>

              </tr>
            </thead>
            <tbody>
              <% @applicants.each do |app| %>
              <tr>
                <th scope="row" class="text-center"><%= app.id %></th>
                <td class="text-center"><a type="submit" href="<%= applicant_path(app) %>"><%= app.first_name %> <%= app.last_name %></a></td>

              </tr>
              <% end %>
            </tbody>
          </table>




        </div>

      </div>
      <div class="col-xs-1"></div>

      <div class="col-xs-5 green-island top-margin">

                <div class="row text-center">
          <h3>MBA Students <a class="new-mba-btn" type="submit" href="<%= new_admin_student_path(@student) %>">+ New</a></h3>

        </div>
        <div class="row">


          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @students.each do |mba| %>
              <tr>
                <th scope="row" class="text-center"><%= mba.id %></th>
                <td class="text-center"><a type="submit" href="<%= admin_student_path(mba) %>"><%= mba.first_name %> <%= mba.last_name %></a></td>
                <td class="text-center"><a type="submit" href="<%= edit_admin_student_path(mba) %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td class="text-center"><%= link_to fa_icon('trash'), admin_student_path(mba.id),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
              </tr>
              <% end %>
            </tbody>
          </table>


        </div>
      </div>
      <div class="col-xs-1"></div>
    </div>


  <div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 green-island-no-tm">
  <div class="row text-center">
          <h3>Pairs</h3>
        </div>
        <div class="row">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">Applicant name</th>
      <th class="text-center">Student name</th>
      <th class="text-center">Story on display</th>
      <th class="text-center">Edit</th>
      <th class="text-center">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @pairs.each do |pair| %>
    <tr>


      <td class="text-center"><a type="submit" href="<%= applicant_path(pair.applicant) %>"><%= pair.applicant.first_name %> <%= pair.applicant.last_name %></a></td>
      <td class="text-center"><a type="submit" href="<%= admin_student_path(pair.student) %>"><%= pair.student.first_name %> <%= pair.student.last_name %></a></td>



      <td class="text-center"><% if pair.story_on_display %> Yes <% else %> No <% end %></td>

      <td class="text-center">

        <a type="submit" href="<%= edit_admin_pair_path(pair) %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
      </td>


      <td class="text-center"><%= link_to fa_icon('trash'), admin_pair_path(pair.id),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></td>

    </tr>
    <% end %>

  </tbody>
</table>
</div>
</div>
<div class="col-xs-1"></div>
  </div>

<div class="row">
<div class="text-center">
          <h3>New Pair</h3>
        </div>
  <div class="col-xs-4"></div>
  <div class="col-xs-4 text-center">

    <%= form_for @pair, url: {action: "create"} do |form| %>

          <div class="form-group">
          <%= form.label :applicant_id, "Applicant ID:" %>
          <%= form.text_field :applicant_id, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :student_id, "MBA Student ID:" %>
          <%= form.text_field :student_id, class: 'form-control' %>
        </div>

        <%= form.submit 'Create', class: 'btn btn-primary' %>

<% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

  </div>
  <div class="col-xs-4"></div>
</div>

  </div>
</section>

