<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PreReq</a>
    </div>

  <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Home', :root %>
        </li>
        <% if current_user %>
          <% if current_user.employer %>
            <li>
              <%= link_to 'Profile', employer_path(current_user.employer.id) %>
            </li>
          <% elsif current_user.applicant %>
            <li>
              <%= link_to 'Profile', applicant_path(current_user.applicant)%>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav">
       <li>
          <% if current_user %>
            <% if current_user.employer %>
            <a>Signed in as <%=  current_user.employer.name ? current_user.employer.name : Employer%></a>
            <% elsif current_user.applicant %>
            <a>Signed in as <%=  current_user.applicant.first_name ? current_user.applicant.first_name : Applicant%></a>
            <% elsif current_user.admin? %>
            <a>Signed in as Admin</a>
            <% end %>
        </li>
        <li> <%= link_to "Logout", '/logout' %></li>
          <% else %>
            <li><%= link_to 'Login', '/login' %></li>
          <% end %>


      </ul>
    </div>
  </div>
</nav>
