<nav class="navbar navbar-default navbar-fixed-top vcenter">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-text" href="/">PreReq</a>
    </div>


  <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <% if current_user.employer %>
            <li class="navbar-text">
              <%= link_to "#{current_user.employer.name}", employer_path(current_user.employer.id), class: 'nav-links' %>
            </li>
            <li class="navbar-text">
              <%= link_to "Company Postings", employer_jobs_path(current_user.employer), class: 'nav-links' %>
            </li>
            <li class="navbar-text">
              <%= link_to "Buddy List", '/buddies', class: 'nav-links' %>
            </li>
          <% elsif current_user.admin? %>
            <li class="navbar-text">
              <%= link_to 'Admin', admin_pairs_path, class: 'nav-links' %>
            </li>
          <% elsif current_user.applicant? %>
            <% if !current_user.applicant%>
              <li class="navbar-text">
                <%= link_to 'Create Profile', new_applicant_path, class: 'nav-links' %>
              </li>
            <% else %>
              <li class="navbar-text">
                <%= link_to "#{current_user.applicant.first_name}", applicant_path(current_user.applicant.id), class: 'nav-links' %>
              </li>
            <% end %>
            <li class="navbar-text">
              <%= link_to 'Job Search', jobs_path, class: 'nav-links' %>
            </li>
            <li class="navbar-text">
              <% if current_user.applicant %>
                <%= link_to 'My Jobs', applicant_bookmarks_path(current_user.applicant.id), class: 'nav-links' %>
                <% end %>
            </li>
          <% end %>
          <li class="navbar-text">
            <%= link_to "Logout", '/logout', class: 'nav-links'%>
          </li>
        <% else %>
        <li class="navbar-text">
          <a data-toggle="modal" data-target="#login" class='nav-links'>Login</a>
        </li>
        <% end %>
      </ul>
    </div>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "#{name} text-center", id: "flash"%>
    <% end -%>

</nav>


<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="loginLabel">Login</h4>


      </div>
      <%= form_tag '/login' do %>
        <div class="modal-body">
            Email: <%= text_field_tag :email %>
            Password: <%= password_field_tag :password %>
        </div>
        <div class="modal-footer form-submit">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      <% end %>
    </div>
  </div>
</div>



