<!DOCTYPE html>
<html>
<head>
  <title>PreReq</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'PREREQ.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>


  <main>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "#{name} text-center", id: "flash"%>
    <% end -%>
    <%= yield %>

    <script type="text/javascript">
    $(document).ready(function(){
      $("#flash").delay(1500).slideUp(300);
     })
    </script>
  </main>

  <%= render 'layouts/footer' %>
</body>
</html>
